.barralateral {
    position: sticky;
    top: 80px;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}

.barralateral__avatar {
    margin-bottom: 10px;
}

.barralateral__arriba {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}

.barralateral__arriba>img {
    margin-bottom: -20px;
    width: 100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.barralateral__arriba>h4{
    color: gray;
    font-size: 12px;
}

.barralateral__arriba>h2{
    font-size: 18px;
}

.barralateral__stat {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.barralateral__stat>p {
    color: gray;
    font-size: 13px;
    font-weight: 600;
}

.barralateral__stats{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.barralateral__numero{
    font-weight: bold;
    color: #0a66c2 !important; /*El importante es para que tenga predominancia el color sobre el de la clase superior*/
}

.barralateral__abajo{
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}